#app{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 4rem;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header {
  background: $white;
  border-radius: 25px;
  text-align: center;
  padding: 8px 0;

  .header__title{
    margin: 0;
    color: $primary;
    font-size: $page;
    font-weight: $bold;
  }
}

.warning{
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
  width: 200px;

  &.right{
    right: 20px;
  }
  &.left{
    left: 20px;
  }

  .warning__icon{
    width: 100px;
    animation: pulseWarning 2s infinite ease-in-out;

    @keyframes pulseWarning {
      0%,100%{
        transform: scale(1);
        opacity: 1;
      }
      50%{
        transform: scale(.95);
        opacity: .7;
      }
    }
  }

  .warning__text{
    font-size: .75rem;
    color: $white;
    font-weight: $bold;
    text-align: center;
    text-transform: uppercase;
  }
}