*{
  font-family: 'Comic Neue', cursive;
  margin: 0;
  padding: 0;
}

//Colors
$bg: #008816;
$primary: #C25200;
$secondary: #220084;
$tertiary: #920083;
$white: #fff;

//Fonts
html,body{
  font-size: 16px;
  background: $bg;
}

$footer: .8rem;
$text: 1.5rem;
$page: 2.5rem;

$regular: 400;
$bold: 600;